@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

.visualPanel {
  @extend %noEventsLayer;
  top: 0;
  z-index: 0;
  border-radius: 0;
  background: transparent;
  @include flex;

  &.overGrid {
    position: absolute;
    display: none;

    &.show {
      display: flex;
      @extend %bg3q;
    }

    .analyzer.wave,
    .analyzer.ripple {
      transform: rotate(-90deg);
    }
  }

  .overlay {
    @extend %fullAbs;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: none;
    @extend %bg90;
    @include flex;
    border-radius: 0;

    &.show {
      opacity: 1;
      transition: 1s;
    }
  }

  .analyzer {
    pointer-events: none;
    @extend %full;
    @include flex;
    padding: 0;
    border-radius: 0;
  }

  .freq {
    @extend %full;
    transition-timing-function: ease-out;
    border-radius: 0;
    transform: scale(1, 0.02) translate(0, 0);
    transform-origin: center;
    @extend %bgGradient;
    transition-property: opacity, transform, filter;
    opacity: 1;

    &.pause {
      animation: none;
    }
  }
  .analyzer.bars {
    .freq {
      transform-origin: bottom;
    }
  }
}
