@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/colors' as *;

.mixer {
  pointer-events: initial;
  @extend %fullAbs;
  @extend %bg90;

  .fxSamples {
    @extend %full;
    @include grid(3, 3, 5px);
    padding: 0.25rem;

    .fxSample {
      padding: 0.5rem;
      @extend %full;
      @extend %borderHalf;
      @extend %color;
      @include flex(column, space-evenly);

      * {
        // border: 1px solid red;
      }

      .fxSampleBorder {
        @extend %noEventsLayerAbs;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 400ms;
      }

      &.flash,
      &.pulse {
        .fxSampleBorder {
          transition: none;
          opacity: 1;
        }
      }
    }

    .smallBtns {
      padding: 1rem;
      width: 100%;
      bottom: 0;
      @include flex(row, space-evenly);
    }
    .btn {
      @extend %btn;

      &.active {
        @extend %bgBtnFull;
      }
    }
  }
}
