@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

#sequencer {
  @extend %full;
  max-width: 800px;
  overflow-y: scroll;
  @include flex(column);
}

#main {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 60vh;
  height: 60%;
  padding: 0.25rem;
  @include flex;
  @extend %border;
}

#samplePanel {
  position: fixed;
  top: 60%;
  width: 100%;
  max-width: 800px;
  height: 30%;
  @extend %border;
  @extend %bg;
  overflow: hidden;

  .border {
    @extend %noEventsLayerAbs;
    @extend %borderWhite;
    top: 0;
    opacity: 0;
  }

  &.highlight {
    & > .border {
      animation: flashing 400ms alternate infinite;
    }
  }
}
