@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/colors' as *;

.mixer {
  pointer-events: initial;
  @extend %fullAbs;
  @extend %bg90;

  .mixSamples {
    @extend %full;
    @include grid(3, 3, 5px);
    padding: 0.25rem;

    .mixSample {
      padding: 0.5rem;
      @extend %full;
      @extend %borderHalf;
      @extend %color;
      @include flex(column, space-evenly);

      * {
        // border: 1px solid red;
      }

      .sampleName {
        text-transform: capitalize;
      }

      .mixSampleBorder {
        @extend %noEventsLayerAbs;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 400ms;
      }

      &.flash,
      &.pulse {
        .mixSampleBorder {
          transition: none;
          opacity: 1;
        }
      }
    }

    .knobWrapper {
      flex: 0 1 auto;
      min-height: 0;
      min-width: 0;
    }

    .customSelectWrapper {
      width: 100%;
      padding: 0;

      .customSelect {
      }

      @media (max-height: 735px) {
        .customSelect {
          padding-top: 0;
          padding-bottom: 0;
          font-size: 1rem;
        }
        .chevron-down {
          right: 0;
        }
      }
    }
  }
}
