@use 'styles/placeholders' as *;

.loginPage {
  position: absolute;
  z-index: 201;
  pointer-events: initial;
  height: auto;
  min-height: 100%;
  width: 100%;
  @extend %bg90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

h1 {
  max-width: 600px;
  padding: 1rem;
  font-size: 1rem;
}

.loginMethods {
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  @extend %bg;
  border-radius: 0.5rem;
}

.methodBtn {
  margin: 1rem 0;
  padding: 1rem;
  @extend %bg90;
  max-height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.methodBtn img {
  height: 2rem;
  max-height: 50px;
}

.methodBtn p {
  color: white;
}

.loginPage .bottomBtn {
  transform: translateX(-50%);
}
