@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;
@use 'styles/spectrum' as *;

#preparingPortal {
  @extend %fullAbs;
  top: 0;
  @include flex;
  @extend %bg3q;
}

#preparing {
  @extend %full;
  max-width: 600px;
  max-height: 600px;
  @include flex(column, space-evenly);

  .prepMsgContainer {
    width: 100%;
  }
  .prepMsg {
    display: inline-block;
    width: 60%;
    text-align: right;
    font-size: 1.5rem;
  }

  .prepGrid {
    width: 50%;
    height: calc(50vw * 0.5);
    max-height: 300px;
    padding: 0.5rem;
    @include grid(3, 3, 0.25rem, 1fr, 1fr);
    border-radius: 0.5rem;
    @extend %border;

    .prepCell {
      @extend %full;
      border-radius: 0.25rem;
      @extend %bgCellOff;
    }
  }

  .prepBgColor {
    animation: colorScroll 1.5s infinite;
    @extend %full;
    transition: none;
    opacity: 0;
  }

  .prepBg0 {
    animation-delay: 1ms;
    @extend %bg0;
  }

  .prepBg1 {
    animation-delay: 150ms;
    @extend %bg1;
  }

  .prepBg2 {
    animation-delay: 300ms;
    @extend %bg2;
  }

  .prepBg3 {
    animation-delay: 450ms;
    @extend %bg3;
  }

  .prepBg4 {
    animation-delay: 600ms;
    @extend %bg4;
  }

  .prepBg5 {
    animation-delay: 750ms;
    @extend %bg5;
  }

  .prepBg6 {
    animation-delay: 900ms;
    @extend %bg6;
  }

  .prepBg7 {
    animation-delay: 1050ms;
    @extend %bg7;
  }

  .prepBg8 {
    animation-delay: 1200ms;
    @extend %bg8;
  }
}

@keyframes colorScroll {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
