$dark: rgba(113, 27, 228, 1);
$dark-3q: rgba(113, 27, 228, 0.75);
$dark-half: rgba(113, 27, 228, 0.5);
$dark-third: rgba(113, 27, 228, 0.33);
$dark-quarter: rgba(113, 27, 228, 0.25);

$dark-dark: rgb(60, 10, 99);
$dark-dark-half: rgba(60, 10, 99, 0.5);
$dark-darker: rgb(34, 8, 68);
$dark-darkest: rgb(19, 4, 37);
$dark-darkest-half: rgba(19, 4, 37, 0.9);

$dark-bg: #151318;

$dark-0: rgb(231, 15, 111);
$dark-1: rgb(230, 18, 173);
$dark-2: rgb(227, 21, 230);
$dark-3: rgb(169, 24, 229);
$dark-4: rgb(58, 30, 227);
$dark-5: rgb(33, 60, 226);
$dark-6: rgb(36, 115, 225);
$dark-7: rgb(39, 169, 225);
$dark-8: rgb(41, 221, 224);
