$joker: rgba(113, 27, 228, 1);
$joker-3q: rgba(113, 27, 228, 0.75);
$joker-half: rgba(113, 27, 228, 0.5);
$joker-third: rgba(113, 27, 228, 0.33);
$joker-quarter: rgba(113, 27, 228, 0.25);

$joker-dark: rgb(60, 10, 99);
$joker-dark-half: rgba(60, 10, 99, 0.5);
$joker-darker: rgb(34, 8, 68);
$joker-darkest: rgb(19, 4, 37);
$joker-darkest-half: rgba(19, 4, 37, 0.9);

$joker-bg: #151318;

$joker-0: rgb(231, 15, 111);
$joker-1: rgb(230, 18, 173);
$joker-2: rgb(227, 21, 230);
$joker-3: rgb(169, 24, 229);
$joker-4: rgb(58, 30, 227);
$joker-5: rgb(33, 60, 226);
$joker-6: rgb(36, 115, 225);
$joker-7: rgb(39, 169, 225);
$joker-8: rgb(41, 221, 224);
