$light: rgba(113, 27, 228, 1);
$light-3q: rgba(113, 27, 228, 0.75);
$light-half: rgba(113, 27, 228, 0.5);
$light-third: rgba(113, 27, 228, 0.33);
$light-quarter: rgba(113, 27, 228, 0.25);

$light-dark: rgb(60, 10, 99);
$light-dark-half: rgba(60, 10, 99, 0.5);
$light-darker: rgb(34, 8, 68);
$light-darkest: rgb(19, 4, 37);
$light-darkest-half: rgba(19, 4, 37, 0.9);

$light-bg: #e1e1e1;
$light-bg90: rgba(225, 225, 225, 0.9);
$light-bg3q: rgba(224, 224, 224, 0.75);
$light-bgHalf: rgba(224, 224, 224, 0.5);

$light-0: rgb(231, 15, 111);
$light-1: rgb(230, 18, 173);
$light-2: rgb(227, 21, 230);
$light-3: rgb(169, 24, 229);
$light-4: rgb(58, 30, 227);
$light-5: rgb(33, 60, 226);
$light-6: rgb(36, 115, 225);
$light-7: rgb(39, 169, 225);
$light-8: rgb(41, 221, 224);
