$nes-default: rgba(255, 255, 255, 1);
$nes-default-3q: rgba(0, 0, 0, 0.75);
$nes-default-half: rgba(232, 12, 48, 0.5);
$nes-default-third: rgba(0, 0, 0, 0.33);
$nes-default-quarter: rgba(232, 12, 48, 0.25);

$nes-bg: rgba(0, 0, 0, 1);
$nes-bg-half: rgba(0, 0, 0, 0.5);

$nes-dark: rgb(255, 255, 255);
$nes-dark2: rgb(100, 6, 21);

$nes-btn: rgb(99, 99, 99);
$nes-bg2: rgb(21, 21, 21);

$nes-0: rgb(232, 12, 48);
$nes-1: rgb(255, 55, 95);
$nes-2: rgb(255, 96, 136);
$nes-3: rgb(232, 24, 60);
$nes-4: rgb(255, 69, 109);
$nes-5: rgb(255, 107, 146);
$nes-6: rgb(232, 36, 72);
$nes-7: rgb(255, 83, 120);
$nes-8: rgb(255, 118, 157);
