$nes: rgb(232, 12, 48);
$nes-3q: rgba(232, 12, 48, 0.75);
$nes-half: rgba(232, 12, 48, 0.5);
$nes-third: rgba(232, 12, 48, 0.33);
$nes-quarter: rgba(232, 12, 48, 0.25);

$nes-dark: rgb(136, 6, 28);
$nes-dark2: rgb(77, 3, 15);
$nes-dark2-half: rgba(77, 3, 15, 0.5);

$nes-grey: rgb(189, 187, 188);
$nes-grey-dark: rgb(77, 77, 77);
$nes-grey-darker: rgb(34, 34, 34);
$nes-grey-darkest: rgb(21, 21, 21);

$nes-0: rgb(232, 12, 48);
$nes-1: rgb(232, 12, 48);
$nes-2: rgb(232, 12, 48);
$nes-3: rgb(232, 12, 48);
$nes-4: rgb(232, 12, 48);
$nes-5: rgb(232, 12, 48);
$nes-6: rgb(232, 12, 48);
$nes-7: rgb(232, 12, 48);
$nes-8: rgb(232, 12, 48);
