$nes-default: rgba(255, 255, 255, 1);
$nes-default-3q: rgba(0, 0, 0, 0.75);
$nes-default-half: rgba(232, 12, 48, 0.5);
$nes-default-third: rgba(0, 0, 0, 0.33);
$nes-default-quarter: rgba(232, 12, 48, 0.25);
$nes-default-dark: rgb(255, 255, 255);

$nes-0: rgba(232, 12, 48, 1);
$nes-0-3q: rgba(232, 12, 48, 0.75);
$nes-0-half: rgba(232, 12, 48, 0.5);
$nes-0-quarter: rgba(232, 12, 48, 0.25);
$nes-1: rgba(232, 24, 60, 1);
$nes-1-3q: rgba(232, 24, 60, 0.75);
$nes-1-half: rgba(232, 24, 60, 0.5);
$nes-1-quarter: rgba(232, 24, 60, 0.25);
$nes-2: rgba(232, 36, 72, 1);
$nes-2-3q: rgba(232, 36, 72, 0.75);
$nes-2-half: rgba(232, 36, 72, 0.5);
$nes-2-quarter: rgba(232, 36, 72, 0.25);
$nes-3: rgba(232, 48, 84, 1);
$nes-3-3q: rgba(232, 48, 84, 0.75);
$nes-3-half: rgba(232, 48, 84, 0.5);
$nes-3-quarter: rgba(232, 48, 84, 0.25);
$nes-4: rgba(232, 60, 96, 1);
$nes-4-3q: rgba(232, 60, 96, 0.75);
$nes-4-half: rgba(232, 60, 96, 0.5);
$nes-4-quarter: rgba(232, 60, 96, 0.25);
$nes-5: rgba(232, 72, 108, 1);
$nes-5-3q: rgba(232, 72, 108, 0.75);
$nes-5-half: rgba(232, 72, 108, 0.5);
$nes-5-quarter: rgba(232, 72, 108, 0.25);
$nes-6: rgba(232, 84, 120, 1);
$nes-6-3q: rgba(232, 84, 120, 0.75);
$nes-6-half: rgba(232, 84, 120, 0.5);
$nes-6-quarter: rgba(232, 84, 120, 0.25);
$nes-7: rgba(232, 96, 132, 1);
$nes-7-3q: rgba(232, 96, 132, 0.75);
$nes-7-half: rgba(232, 96, 132, 0.5);
$nes-7-quarter: rgba(232, 96, 132, 0.25);
$nes-8: rgba(232, 108, 144, 1);
$nes-8-3q: rgba(232, 108, 144, 0.75);
$nes-8-half: rgba(232, 108, 144, 0.5);
$nes-8-quarter: rgba(232, 108, 144, 0.25);
$nes-9: rgba(232, 120, 156, 1);
$nes-9-3q: rgba(232, 120, 156, 0.75);
$nes-9-half: rgba(232, 120, 156, 0.5);
$nes-9-quarter: rgba(232, 120, 156, 0.25);
