$purple-default: rgba(113, 27, 228, 1);
$purple-default-3q: rgba(113, 27, 228, 0.75);
$purple-default-half: rgba(113, 27, 228, 0.5);
$purple-default-third: rgba(113, 27, 228, 0.33);
$purple-default-quarter: rgba(113, 27, 228, 0.25);
$purple-default-dark: rgb(60, 10, 99);

$purple-0: rgba(231, 15, 111, 1);
$purple-0-3q: rgba(231, 15, 111, 0.75);
$purple-0-half: rgba(231, 15, 111, 0.5);
$purple-0-quarter: rgba(231, 15, 111, 0.25);
$purple-1: rgba(230, 18, 173, 1);
$purple-1-3q: rgba(230, 18, 173, 0.75);
$purple-1-half: rgba(230, 18, 173, 0.5);
$purple-1-quarter: rgba(230, 18, 173, 0.25);
$purple-2: rgba(227, 21, 230, 1);
$purple-2-3q: rgba(227, 21, 230, 0.75);
$purple-2-half: rgba(227, 21, 230, 0.5);
$purple-2-quarter: rgba(227, 21, 230, 0.25);
$purple-3: rgba(169, 24, 229, 1);
$purple-3-3q: rgba(169, 24, 229, 0.75);
$purple-3-half: rgba(169, 24, 229, 0.5);
$purple-3-quarter: rgba(169, 24, 229, 0.25);
$purple-4: rgba(58, 30, 227, 1);
$purple-4-3q: rgba(58, 30, 227, 0.75);
$purple-4-half: rgba(58, 30, 227, 0.5);
$purple-4-quarter: rgba(58, 30, 227, 0.25);
$purple-5: rgba(33, 60, 226, 1);
$purple-5-3q: rgba(33, 60, 226, 0.75);
$purple-5-half: rgba(33, 60, 226, 0.5);
$purple-5-quarter: rgba(33, 60, 226, 0.25);
$purple-6: rgba(36, 115, 225, 1);
$purple-6-3q: rgba(36, 115, 225, 0.75);
$purple-6-half: rgba(36, 115, 225, 0.5);
$purple-6-quarter: rgba(36, 115, 225, 0.25);
$purple-7: rgba(39, 169, 225, 1);
$purple-7-3q: rgba(39, 169, 225, 0.75);
$purple-7-half: rgba(39, 169, 225, 0.5);
$purple-7-quarter: rgba(39, 169, 225, 0.25);
$purple-8: rgba(41, 221, 224, 1);
$purple-8-3q: rgba(41, 221, 224, 0.75);
$purple-8-half: rgba(41, 221, 224, 0.5);
$purple-8-quarter: rgba(41, 221, 224, 0.25);
$purple-9: rgba(44, 223, 175, 1);
$purple-9-3q: rgba(44, 223, 175, 0.75);
$purple-9-half: rgba(44, 223, 175, 0.5);
$purple-9-quarter: rgba(44, 223, 175, 0.25);
