$snes-default: rgba(211, 211, 211, 1);
$snes-default-3q: rgba(127, 105, 187, 0.75);
$snes-default-half: rgba(127, 105, 187, 0.5);
$snes-default-third: rgba(127, 105, 187, 0.33);
$snes-default-quarter: rgba(127, 105, 187, 0.5);
$snes-default-dark: rgb(211, 211, 211);
$snes-bg: rgb(58, 58, 58);
$snes-bg-90: rgba(58, 58, 58, 0.9);

$snes-0: rgba(127, 105, 187, 1);
$snes-0-3q: rgba(127, 105, 187, 0.75);
$snes-0-half: rgba(127, 105, 187, 0.5);
$snes-0-quarter: rgba(127, 105, 187, 0.25);
$snes-1: rgba(135, 113, 195, 1);
$snes-1-3q: rgba(135, 113, 195, 0.75);
$snes-1-half: rgba(135, 113, 195, 0.5);
$snes-1-quarter: rgba(140, 113, 195, 0.25);
$snes-2: rgba(143, 121, 203, 1);
$snes-2-3q: rgba(143, 121, 203, 0.75);
$snes-2-half: rgba(143, 121, 203, 0.5);
$snes-2-quarter: rgba(143, 121, 203, 0.25);
$snes-3: rgba(151, 129, 211, 1);
$snes-3-3q: rgba(151, 129, 211, 0.75);
$snes-3-half: rgba(151, 129, 211, 0.5);
$snes-3-quarter: rgba(151, 129, 211, 0.25);
$snes-4: rgba(159, 137, 219, 1);
$snes-4-3q: rgba(159, 137, 219, 0.75);
$snes-4-half: rgba(159, 137, 219, 0.5);
$snes-4-quarter: rgba(159, 137, 219, 0.25);
$snes-5: rgba(167, 145, 227, 1);
$snes-5-3q: rgba(167, 145, 227, 0.75);
$snes-5-half: rgba(167, 145, 227, 0.5);
$snes-5-quarter: rgba(167, 145, 227, 0.25);
$snes-6: rgba(175, 153, 235, 1);
$snes-6-3q: rgba(175, 153, 235, 0.75);
$snes-6-half: rgba(175, 153, 235, 0.5);
$snes-6-quarter: rgba(175, 153, 235, 0.25);
$snes-7: rgba(183, 161, 243, 1);
$snes-7-3q: rgba(183, 161, 243, 0.75);
$snes-7-half: rgba(183, 161, 243, 0.5);
$snes-7-quarter: rgba(183, 161, 243, 0.25);
$snes-8: rgba(191, 169, 251, 1);
$snes-8-3q: rgba(191, 169, 251, 0.75);
$snes-8-half: rgba(191, 169, 251, 0.5);
$snes-8-quarter: rgba(191, 169, 251, 0.25);
$snes-9: rgba(199, 177, 255, 1);
$snes-9-3q: rgba(199, 177, 255, 0.75);
$snes-9-half: rgba(199, 177, 255, 0.5);
$snes-9-quarter: rgba(199, 177, 255, 0.25);
