$snes-default: rgba(211, 211, 211, 1);
$snes-default-3q: rgba(127, 105, 187, 0.75);
$snes-default-half: rgba(127, 105, 187, 0.5);
$snes-default-third: rgba(127, 105, 187, 0.33);
$snes-default-quarter: rgba(127, 105, 187, 0.5);

$snes-dark: rgb(25, 20, 36);
$snes-dark2: rgb(56, 46, 82);

$snes-bg: rgb(25, 20, 36);
$snes-bg-90: rgba(20, 20, 36, 0.9);
$snes-bg-half: rgba(20, 20, 36, 0.5);

$snes-btn: rgb(127, 105, 187);

$snes-0: rgb(168, 144, 233);
$snes-1: rgb(190, 167, 255);
$snes-2: rgba(212, 200, 255);
$snes-3: rgb(172, 148, 236);
$snes-4: rgb(190, 166, 255);
$snes-5: rgb(212, 200, 255);
$snes-6: rgb(180, 157, 243);
$snes-7: rgb(202, 182, 255);
$snes-8: rgb(212, 200, 255);
