$synth-default: rgba(113, 27, 228, 1);
$synth-default-3q: rgba(113, 27, 228, 0.75);
$synth-default-half: rgba(113, 27, 228, 0.5);
$synth-default-third: rgba(113, 27, 228, 0.33);
$synth-default-quarter: rgba(113, 27, 228, 0.25);
$synth-default-dark: rgb(60, 10, 99);

$synth-0: rgba(231, 15, 111, 1);
$synth-0-3q: rgba(231, 15, 111, 0.75);
$synth-0-half: rgba(231, 15, 111, 0.5);
$synth-0-quarter: rgba(231, 15, 111, 0.25);
$synth-1: rgba(230, 18, 173, 1);
$synth-1-3q: rgba(230, 18, 173, 0.75);
$synth-1-half: rgba(230, 18, 173, 0.5);
$synth-1-quarter: rgba(230, 18, 173, 0.25);
$synth-2: rgba(227, 21, 230, 1);
$synth-2-3q: rgba(227, 21, 230, 0.75);
$synth-2-half: rgba(227, 21, 230, 0.5);
$synth-2-quarter: rgba(227, 21, 230, 0.25);
$synth-3: rgba(169, 24, 229, 1);
$synth-3-3q: rgba(169, 24, 229, 0.75);
$synth-3-half: rgba(169, 24, 229, 0.5);
$synth-3-quarter: rgba(169, 24, 229, 0.25);
$synth-4: rgba(58, 30, 227, 1);
$synth-4-3q: rgba(58, 30, 227, 0.75);
$synth-4-half: rgba(58, 30, 227, 0.5);
$synth-4-quarter: rgba(58, 30, 227, 0.25);
$synth-5: rgba(33, 60, 226, 1);
$synth-5-3q: rgba(33, 60, 226, 0.75);
$synth-5-half: rgba(33, 60, 226, 0.5);
$synth-5-quarter: rgba(33, 60, 226, 0.25);
$synth-6: rgba(36, 115, 225, 1);
$synth-6-3q: rgba(36, 115, 225, 0.75);
$synth-6-half: rgba(36, 115, 225, 0.5);
$synth-6-quarter: rgba(36, 115, 225, 0.25);
$synth-7: rgba(39, 169, 225, 1);
$synth-7-3q: rgba(39, 169, 225, 0.75);
$synth-7-half: rgba(39, 169, 225, 0.5);
$synth-7-quarter: rgba(39, 169, 225, 0.25);
$synth-8: rgba(41, 221, 224, 1);
$synth-8-3q: rgba(41, 221, 224, 0.75);
$synth-8-half: rgba(41, 221, 224, 0.5);
$synth-8-quarter: rgba(41, 221, 224, 0.25);
$synth-9: rgba(44, 223, 175, 1);
$synth-9-3q: rgba(44, 223, 175, 0.75);
$synth-9-half: rgba(44, 223, 175, 0.5);
$synth-9-quarter: rgba(44, 223, 175, 0.25);
