$synth-default: rgba(113, 27, 228, 1);
$synth-default-3q: rgba(113, 27, 228, 0.75);
$synth-default-half: rgba(113, 27, 228, 0.5);
$synth-default-third: rgba(113, 27, 228, 0.33);
$synth-default-quarter: rgba(113, 27, 228, 0.25);

$synth-bg: rgba(0, 0, 0, 1);
$synth-bg-half: rgba(0, 0, 0, 0.5);

$synth-dark: rgb(60, 10, 99);

$synth-dark2: rgb(34, 8, 68);

$synth-0: rgb(231, 15, 111);
$synth-1: rgb(230, 18, 173);
$synth-2: rgb(227, 21, 230);
$synth-3: rgb(169, 24, 229);
$synth-4: rgb(58, 30, 227);
$synth-5: rgb(33, 60, 226);
$synth-6: rgb(36, 115, 225);
$synth-7: rgb(39, 169, 225);
$synth-8: rgb(41, 221, 224);
