$tmnt: rgb(138, 198, 12);
$tmnt-3q: rgba(138, 198, 12, 1);
$tmnt-half: rgba(138, 198, 12, 0.5);
$tmnt-third: rgba(138, 198, 12, 0.33);
$tmnt-quarter: rgba(138, 198, 12, 0.25);

$tmnt-blue: rgb(10, 132, 179);
$tmnt-blue-dark: rgb(6, 79, 107);
$tmnt-blue-dark-quarter: rgba(6, 79, 107, 0.25);

$tmnt-dark: rgb(114, 161, 10);
$tmnt-darkest: rgb(48, 68, 5);

$tmnt-grey: rgb(122, 131, 112);
$tmnt-grey-dark: rgb(89, 95, 82);
$tmnt-grey-darker: rgb(56, 59, 52);
$tmnt-grey-darkest: rgb(26, 27, 24);

$tmnt-0: rgb(0, 105, 222);
$tmnt-1: rgb(132, 48, 133);
$tmnt-2: rgb(230, 0, 0);
$tmnt-3: rgb(255, 121, 0);
$tmnt-4: rgb(113, 220, 230);
$tmnt-5: rgb(132, 48, 133);
$tmnt-6: rgb(230, 0, 0);
$tmnt-7: rgb(255, 121, 0);
$tmnt-8: rgb(0, 105, 222);
