@use 'styles/themes/dark' as *;
@use 'styles/themes/light' as *;
@use 'styles/themes/joker' as *;
@use 'styles/themes/nes' as *;
@use 'styles/themes/tmnt' as *;

$true-grey-light: rgb(169, 169, 169);
$true-grey: rgba(125, 125, 125, 1);
$true-grey-half: rgba(125, 125, 125, 0.5);
$true-grey-dark: rgb(88, 88, 88);
$true-grey-dark-half: rgba(88, 88, 88, 0.5);
$grey: rgba(197, 185, 219, 1);
$grey-half: rgba(150, 140, 170, 0.5);
$grey-quarter: rgba(150, 140, 170, 0.25);
$grey-dim: rgb(150, 140, 170, 0.15);
$black: #000;
$black-90: rgba(0, 0, 0, 0.9);
$black-3q: rgba(0, 0, 0, 0.75);
$black-half: rgba(0, 0, 0, 0.5);
$black-quarter: rgba(0, 0, 0, 0.25);
$white: white;
$white-90: rgba(255, 255, 255, 0.9);
$white-3q: rgba(255, 255, 255, 0.75);
$white-half: rgba(255, 255, 255, 0.5);
$white-quarter: rgba(255, 255, 255, 0.25);
$green: rgba(47, 222, 126, 1);
$green-dark: rgb(40, 170, 99);
$red: rgb(232, 12, 48);

/* vars and target stylesheet */
html {
  --grey-dim: rgb(150, 140, 170, 0.15);
  --green: rgba(47, 222, 126, 1);
  --green-dark: rgb(40, 170, 99);
  --red: rgb(232, 12, 48);

  --primary: rgba(113, 27, 228, 1);
  --primary-3q: rgba(113, 27, 228, 0.75);
  --primary-half: rgba(113, 27, 228, 0.5);
  --primary-third: rgba(113, 27, 228, 0.33);
  --primary-quarter: rgba(113, 27, 228, 0.25);

  --primary-dark: rgb(60, 10, 99);
  --primary-dark-half: rgba(60, 10, 99, 0.5);

  --primary-darker: rgb(34, 8, 68);

  --primary-darkest: rgb(19, 4, 37);
  --primary-darkest-half: rgba(19, 4, 37, 0.9);
  --fg: rgb(255, 255, 255);
  --fg90: rgba(255, 255, 255, 0.9);
  --fg3q: rgba(255, 255, 255, 0.75);
  --fgHalf: rgba(255, 255, 255, 0.5);
  --fgQuarter: rgba(255, 255, 255, 0.25);

  --bgHTML: black;
  --bgHTML90: rgba(0, 0, 0, 0.9);
  --bgHTML3q: rgba(0, 0, 0, 0.75);
  --bgHTMLHalf: rgba(0, 0, 0, 0.5);

  --bg: rgb(21, 19, 24);
  --bg90: rgba(21, 19, 24, 0.9);
  --bg3q: rgba(21, 19, 24, 0.75);
  --bgHalf: rgba(21, 19, 24, 0.5);

  --color0: rgb(231, 15, 111);
  --color1: rgb(230, 18, 173);
  --color2: rgb(227, 21, 230);
  --color3: rgb(169, 24, 229);
  --color4: rgb(58, 30, 227);
  --color5: rgb(33, 60, 226);
  --color6: rgb(36, 115, 225);
  --color7: rgb(39, 169, 225);
  --color8: rgb(41, 221, 224);
}

%bgGradient {
  .themeJoker & {
    background: linear-gradient($joker-dark, $joker, $joker-dark);
  }
  .themeNES & {
    background: linear-gradient($nes-dark2, $nes, $nes-dark2);
  }
  .themeTMNT & {
    background: linear-gradient($tmnt-blue-dark-quarter, $tmnt-blue, $tmnt-blue-dark-quarter);
  }
  .themeBlack & {
    background: linear-gradient($grey, $white, $grey);
  }
  .themeLight & {
    background: linear-gradient($light-bg, $light, $light-dark);
  }
}
