@use 'styles/themes/joker' as *;
@use 'styles/themes/nes' as *;
@use 'styles/themes/tmnt' as *;

$true-grey-light: rgb(169, 169, 169);
$true-grey: rgba(125, 125, 125, 1);
$true-grey-half: rgba(125, 125, 125, 0.5);
$true-grey-dark: rgb(88, 88, 88);
$true-grey-dark-half: rgba(88, 88, 88, 0.5);
$grey: rgba(197, 185, 219, 1);
$grey-half: rgba(150, 140, 170, 0.5);
$grey-quarter: rgba(150, 140, 170, 0.25);
$grey-dim: rgb(150, 140, 170, 0.15);
$color-none: rgb(150, 140, 170, 0);
$black: #000;
$black-90: rgba(0, 0, 0, 0.9);
$black-3q: rgba(0, 0, 0, 0.75);
$black-half: rgba(0, 0, 0, 0.5);
$black-quarter: rgba(0, 0, 0, 0.25);
$white: white;
$white-90: rgba(255, 255, 255, 0.9);
$white-3q: rgba(255, 255, 255, 0.75);
$white-half: rgba(255, 255, 255, 0.5);
$white-quarter: rgba(255, 255, 255, 0.25);
$magenta: rgba(255, 0, 172, 1);
$magenta-dark: rgb(169, 0, 112);
$lime: rgba(64, 244, 195, 1);
$lime-dark: rgb(49, 187, 150);
$green: rgba(47, 222, 126, 1);
$green-dark: rgb(40, 170, 99);
$green-darker: rgb(31, 133, 77);
$green-half: rgba(47, 222, 126, 0.5);
$red: rgb(232, 12, 48);

/**************** FG *******************/

%text,
%color {
  color: white;
  .themeWhite & {
    color: black;
  }
}

%textDim {
  color: $white-quarter;
  .themeWhite & {
    color: $black;
  }
}
%textDim2,
%textHalf {
  color: $white-half;
  .themeWhite & {
    color: $black;
  }
}

%iconFill {
  fill: $white;
  .themeWhite & {
    fill: $black;
  }
}

%sliceStroke {
  .themeJoker & {
    stroke: $joker-dark;
  }
  .themeNES & {
    stroke: $nes-grey;
  }
  .themeTMNT & {
    stroke: $tmnt-grey;
  }
  .themeBlack & {
    stroke: $black;
  }
  .themeWhite & {
    stroke: $white;
  }
}

%pitchColor {
  .themeJoker & {
    color: $black;
  }
  .themeNES & {
    color: $nes-grey;
  }
  .themeTMNT & {
    color: $black;
  }
  .themeBlack & {
    color: $black;
  }
  .themeWhite & {
    color: $white;
  }
}

/**************** BG *******************/

%bg {
  background: $black;
  .themeJoker & {
    background: $joker-bg;
  }
  .themeWhite & {
    background: $white;
  }
}

%bg3q {
  background: $black-3q;
  .themeWhite & {
    background: $white-3q;
  }
}

%bgHalf {
  background: $black-half;
  .themeWhite & {
    background: $white-half;
  }
}

%bg90 {
  background: $black-90;
  .themeWhite & {
    background: $white-90;
  }
}

%bgRed {
  background: $red;
}
%bgGreen {
  background: $green;
}
.bgGreen {
  @extend %bgGreen;
}

%bgSampleBtn {
  .themeJoker & {
    background: $joker-darker;
  }
  .themeNES & {
    background: $black;
  }
  .themeTMNT & {
    background: $tmnt-darkest;
  }
  .themeBlack & {
    background: $black;
  }
  .themeWhite & {
    background: $white;
  }
}

%bgCellOff {
  background: $grey-dim;
}

%bgBtnFull {
  .themeJoker & {
    background: $joker-dark;
  }
  .themeNES & {
    background: $nes-dark2;
  }
  .themeTMNT & {
    background: $tmnt-blue-dark;
  }
  .themeBlack & {
    background: $true-grey-dark;
  }
  .themeWhite & {
    background: $true-grey-light !important;
  }
}

%bgBtnHalf {
  .themeJoker & {
    background: $joker-dark-half;
  }
  .themeNES & {
    background: $nes-dark2-half;
  }
  .themeTMNT & {
    background: $tmnt-blue-dark-quarter;
  }
  .themeBlack & {
    background: $true-grey-dark-half;
  }
  .themeWhite & {
    background: $true-grey-half;
  }
}

%bgStopBtn {
  .themeJoker & {
    background: $magenta-dark;
  }
  .themeNES & {
    background: $nes;
  }
  .themeTMNT & {
    background: $tmnt-2;
  }
  .themeBlack & {
    background: $true-grey-dark;
  }
  .themeWhite & {
    background: $true-grey;
  }
}

%bgStartBtn {
  .themeJoker & {
    background: $lime-dark;
  }
  .themeNES & {
    background: $nes;
  }
  .themeTMNT & {
    background: $tmnt;
  }
  .themeBlack & {
    background: $true-grey-dark;
  }
  .themeWhite & {
    background: $true-grey;
  }
}

%bgMenuBar {
  .themeJoker & {
    background: $joker-darkest;
  }
  .themeNES & {
    background: $nes-grey-darkest;
  }
  .themeTMNT & {
    background: $tmnt-grey-darkest;
  }
  .themeBlack & {
    background: $black;
  }
  .themeWhite & {
    background: $white;
  }
}

/************** BORDER *****************/

%border {
  .themeJoker & {
    border: 1px solid $joker;
  }
  .themeNES & {
    border: 1px solid $nes-grey;
  }
  .themeTMNT & {
    border: 1px solid $tmnt;
  }
  .themeBlack & {
    border: 1px solid $grey;
  }
  .themeWhite & {
    border: 1px solid $true-grey-dark;
  }
}
.borderDefault {
  @extend %border;
}

%borderActive,
%borderWhite {
  border: 1px solid $white;
  .themeWhite & {
    border: 1px solid $black;
  }
}
.borderActive {
  @extend %borderActive;
}

%borderHalf {
  .themeJoker & {
    border: 1px solid $joker-half;
  }
  .themeNES & {
    border: 1px solid $nes-half;
  }
  .themeTMNT & {
    border: 1px solid $tmnt-half;
  }
  .themeBlack & {
    border: $grey-half;
  }
  .themeWhite & {
    border: $true-grey;
  }
}

%borderBottomHalf {
  .themeJoker & {
    border-bottom: 1px solid $joker-half;
  }
  .themeNES & {
    border-bottom: 1px solid $nes-half;
  }
  .themeTMNT & {
    border-bottom: 1px solid $tmnt-half;
  }
  .themeBlack & {
    border-bottom: 1px solid $grey-half;
  }
  .themeWhite & {
    border-bottom: 1px solid $grey;
  }
}
