@use 'styles/colors' as *;
@use 'styles/themes/joker' as *;
@use 'styles/themes/nes' as *;
@use 'styles/themes/tmnt' as *;

// prettierIgnored

.bg0 { background: var(--color0); }
.border0 { border: 1px solid var(--color0); }
.fill0 { fill: var(--color0); }

.bg1 { background: var(--color1); }
.border1 { border: 1px solid var(--color1); }
.fill1 { fill: var(--color1); }

.bg2 { background: var(--color2); }
.border2 { border: 1px solid var(--color2); }
.fill2 { fill: var(--color2); }

.bg3 { background: var(--color3); }
.border3 { border: 1px solid var(--color3); }
.fill3 { fill: var(--color3); }

.bg4 { background: var(--color4); }
.border4 { border: 1px solid var(--color4); }
.fill4 { fill: var(--color4); }

.bg5 { background: var(--color5); }
.border5 { border: 1px solid var(--color5); }
.fill5 { fill: var(--color5); }

.bg6 { background: var(--color6); }
.border6 { border: 1px solid var(--color6); }
.fill6 { fill: var(--color6); }

.bg7 { background: var(--color7); }
.border7 { border: 1px solid var(--color7); }
.fill7 { fill: var(--color7); }

.bg8 { background: var(--color8); }
.border8 { border: 1px solid var(--color8); }
.fill8 { fill: var(--color8); }
