@use 'styles/colors' as *;
@use 'styles/spectrum' as *;
@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/customSelect' as *;
@use 'App/shared/preparing';
@use 'App/StatusBar/statusBar';
@use 'App/Sequencer/sequencer';
@use 'App/Sequencer/LoadSave/loadSave';
@use 'App/Sequencer/LoadSave/Load/load';
@use 'App/Sequencer/LoadSave/Save/save';
@use 'App/Sequencer/MainSection/Grid/grid';
@use 'App/Sequencer/MainSection/pastePattern';
@use 'App/Sequencer/MainSection/changeKit';
@use 'App/Sequencer/SamplePanel/sampleEdit';
@use 'App/Sequencer/SamplePanel/samplePanel';
@use 'App/Sequencer/SamplePanel/analyzer';
@use 'App/Sequencer/MenuBar/menuBar';
@use 'App/Sequencer/MenuBar/menuItems';
@use 'App/Login/loginPage';
@use 'App/ErrorBoundary/errorBoundary';
@use 'App/mobileConsole';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  // border: 1px solid green;
}

html,
body {
  @extend %fullAbs;
  @extend %bgBlack;
  touch-action: pan-y;
}

body {
  max-width: 100%;
  max-height: 100%;
  @extend %text;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

#root {
  @extend %full;
  @extend %bgBlack;
  color: $white;

  &.themeWhite {
    background: $white;
    color: $black;
  }
}

.deg90 {
  transform: rotate(90deg);
}

.deg180 {
  transform: rotate(180deg);
}

.deg270 {
  transform: rotate(270deg);
}

input {
  user-select: initial;
}

button {
  position: relative;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: 2px;
  @media (hover: hover) {
    cursor: pointer;
  }
}

button.pressed::before {
  content: '';
  @extend %noEventsLayerAbs;
  top: 0;
  left: 0;
  @extend %bgCellOff;
}

label {
  cursor: inherit;
  pointer-events: none;
}

button:disabled {
  opacity: 0.35;
  cursor: initial;
}

a {
  text-decoration: none;
}

a.disabled {
  opacity: 0.5;
}

.icon {
  height: 100%;
  width: 100%;
  @extend %iconFill;
}

.error {
  color: $red;
}

.confirmation {
  color: $green;
}

h1 {
  font-weight: normal;
}

p.dim {
  @extend %textDim;
}

p.dim-2 {
  @extend %textDim2;
}

.p-left-25 {
  padding-left: 0.25rem;
}

.fadeIn {
  transition: 250ms;
  opacity: 1;
}

.fadeOut {
  transition: 250ms;
  opacity: 0;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes dim-flashing {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(25%);
  }
  20% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

@keyframes bounceLeft {
  0% {
    transform: translateX(25%);
  }
  20% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes slicing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
