@use 'styles/colors' as *;
@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/themes/purple' as *;
@use 'styles/customSelect' as *;
@use 'App/Sequencer/MainSection/Grid/grid';
@use 'App/Sequencer/MainSection/pastePattern';
@use 'App/Sequencer/MainSection/loadKit';
@use 'App/Sequencer/SamplePanel/sampleEdit';
@use 'App/Sequencer/SamplePanel/samplePanel';
@use 'App/Sequencer/LoadSave/loadSave';
@use 'App/Sequencer/LoadSave/Load/load';
@use 'App/Sequencer/LoadSave/Save/save';
@use 'App/StatusBar/statusBar';
@use 'App/shared/preparing';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/*************************************/
/*************** Global **************/
/*************************************/

.deg90 {
  transform: rotate(90deg);
}

.deg180 {
  transform: rotate(180deg);
}

.deg270 {
  transform: rotate(270deg);
}

input {
  user-select: initial;
}

button {
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: 2px;
}

button:disabled {
  opacity: 0.35;
}

a {
  text-decoration: none;
}

a.disabled {
  opacity: 0.5;
}

.icon {
  height: 100%;
  width: 100%;
}

.error {
  color: $red;
}

.confirmation {
  color: $green;
}

h1 {
  font-weight: normal;
}

p.dim {
  color: $white-quarter;
}

p.dim-2 {
  color: $white-half;
}

.p-left-25 {
  padding-left: 0.25rem;
}

.fade-in {
  transition: 250ms;
  opacity: 1;
}

.fade-out {
  transition: 250ms;
  opacity: 0;
}

@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dim-flashing {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(25%);
  }
  20% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

@keyframes slicing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background: $black;
}

body {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
}

#root {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow-y: scroll;
}

#sequencer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow-y: scroll;
  /* border: 1px solid $red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 60vh;
  height: 60%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $purple-default;
  border-bottom: none;
}

/*************************************/
/************** ChangeKit ************/
/*************************************/

.change-kit-wrapper {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-kit-wrapper label {
  margin-right: 0.5rem;
}

/*************************************/
/*************** GRID ****************/
/*************************************/

/*************************************/
/*************** Menu **************/
/*************************************/

#menu {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  max-width: 800px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background: $purple-default-third;
}

/*************************************/
/************* Menu Items ************/
/*************************************/

.menu-items {
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;
}

.menu-items .chevron.left,
.menu-items .chevron.right {
  height: 100%;
  max-width: 2rem;
  display: flex;
  align-items: center;
}

.menu-dummy {
  width: 1rem;
}

.menu-btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.menu-label {
  margin: 0 0.5rem;
}

.menu-items .icon {
  width: 2rem;
  fill: $white;
}

/*************************************/
/************* Transport *************/
/*************************************/

.transport-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport .menu-btn {
  width: 4rem;
  height: 2rem;
  margin: 0 0.25rem;
}

.transport .menu-btn .icon {
  height: 1rem;
}

#stop {
  background: $magenta-3q;
}

#start {
  background: $lime-3q;
}

#start.flashing {
  animation: dim-flashing 300ms alternate infinite;
}

#stop,
#start {
  border-radius: 0.3rem;
}

#stop label,
#start label {
  visibility: hidden;
  width: 0;
  user-select: none;
  pointer-events: none;
}

.transport .input-div {
  margin-left: 0.25rem;
  width: 7rem;
  user-select: initial;
  display: flex;
  align-items: center;
}

.transport .input {
  width: 4rem;
  height: 100%;
  padding: 0.25rem;
  border: none;
  outline: none;
  border: 1px solid $white;
  border-radius: 0.3rem;
  background: $black;
  color: $white;
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
}

.transport .input.edited {
  animation: flashing 300ms alternate infinite;
}

.bpm-or-btn {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bpm-label {
  display: inline-block;
  width: 100%;
  font-style: normal;
  padding: 0.5rem;
}

.bpm-btn {
  background: none;
  border: 1px solid $white;
  border-radius: 0.5rem;
  outline: none;
}

.bpm-btn .icon {
  fill: $green;
}

/*************************************/
/************ StatusBar **************/
/*************************************/

/*************************************/
/*************** Chevrons ************/
/*************************************/

.chevron {
  position: absolute;
  height: 100%;
  width: 2.5rem;
}

.chevron.left {
  left: 0;
}

.chevron.right {
  right: 0;
}

.chevron .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
  width: 1.5rem;
  height: 1.5rem;
}

.chevron-right-1,
.chevron-right-2,
.chevron-right-3,
.chevron-left-1,
.chevron-left-2,
.chevron-left-3 {
  opacity: 0;
}

.chevron-right-1,
.chevron-left-1 {
  animation: chevron-1 1s infinite;
}
@keyframes chevron-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.chevron-right-2,
.chevron-left-2 {
  animation: chevron-2 1s infinite;
}
@keyframes chevron-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chevron-right-3,
.chevron-left-3 {
  animation: chevron-3 1s infinite;
}
@keyframes chevron-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.chevron-left,
.chevron-right {
  fill: $white;
  width: 100%;
  height: 100%;
}

/*************************************/
/*************** Scroll **************/
/*************************************/

.scrollbar {
  pointer-events: none;
  position: fixed;
  height: 10%;
  width: 100%;
  max-width: 800px;
  bottom: 0;
}

.scroll-right,
.scroll-left {
  pointer-events: initial;
  position: absolute;
  height: 100%;
  width: 2rem;
  background: $color-none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 150ms;
}

.scroll-left {
  left: 0;
}
.scroll-right {
  right: 0;
}

button.scroll-right:disabled,
button.scroll-left:disabled {
  pointer-events: none;
  opacity: 0;
}
