@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

.loadSequence {
  @extend %full;
  padding: 1rem 0.5rem;

  .userSequences,
  .defaultSequences {
    @extend %borderHalf;
    margin-bottom: 1rem;
    padding: 0.5rem;

    .title {
      @extend %textCenterPadding;
    }

    .columnTitles {
      width: 100%;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 0.5fr 0.25fr 0.15fr 0.1fr;
      align-items: center;
      @extend %borderHalf;
      border-right: none !important;
      border-left: none !important;
    }

    .sequence {
      @extend %btnFull;
      @extend %bgBtnFull;
      display: grid;
      grid-template-columns: 0.5fr 0.25fr 0.15fr 0.1fr;
      align-items: center;
      transform: scale(1);

      &.selected {
        background: $green-dark;
      }

      &.deleting {
        opacity: 0.5;
      }

      .delete-btn {
        background: transparent;
        padding: 0.25rem;
        outline: none;
        border: none;

        .icon {
          max-height: 2rem;
          width: 100%;
          // fill: $white;
        }
      }
    }

    .confirm-delete {
      width: 100%;
      padding: 0.5rem;
      @include flex(row, space-evenly);
      @extend %bgBtnFull;

      .btn {
        @extend %btn;
        &.red {
          @extend %bgRed;
        }
      }
    }
  }
}
