@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/colors' as *;

#changeKitPortal {
  @extend %noEventsLayerAbs;
}

.changeKit {
  pointer-events: initial;
  @extend %fullAbs;
  @extend %bg90;

  .kits {
    @extend %full;
    @include grid(3, 3, 5px);
    padding: 0.25rem;

    .btn {
      cursor: pointer;
      padding: 0.5rem;
      @extend %full;
      @include flex(column);
      @extend %border;
      @extend %color;
      background: none;
      font-size: 1rem;
      transform: scale(1);

      &:disabled {
        opacity: 1;
      }

      &.selected {
        @extend %borderActive;
        border-width: 2px !important;
      }

      &.borderDim {
        @extend %borderHalf;
      }

      p,
      .dummy,
      .icon {
        height: 100%;
      }

      p {
        @include flex;

        &.selected,
        &.ready {
          font-size: 0.8rem;
          font-weight: normal;
        }

        &.ready {
          opacity: 0;
          transition: 1500ms;
          color: $green;

          &.show {
            @extend %turnOn;
            &.hide {
              @extend %turnOff;
            }
          }
        }
      }

      p.flashing,
      .icon.flashing {
        animation: flashing 400ms alternate infinite;
      }
    }
  }
}

.kit-info {
  pointer-events: initial;
  @extend %full;
  @include flex(column, space-evenly);
  padding: 0.5rem;
  @extend %bg90;
  .btn.close {
    @extend %btn;
    width: 60%;
    height: 2.5rem;
  }
}
