@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

.analyzer {
  @extend %noEventsLayerAbs;
  z-index: 2;
  top: 0;
  border-radius: 0;
  background: $black;

  // .overlay {
  //   position: absolute;
  //   z-index: 3;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   padding: 1rem;
  //   @extend %bg90;
  // }

  .freqs {
    // border: 1px solid red;
    @extend %full;
    @include flex;
    overflow: hidden;
  }

  .freq {
    @extend %full;
    border-radius: 0;
    transform-origin: bottom;
    transition-timing-function: ease-out;
    border-radius: 0%;
    transform: scale(0.02);
  }
}
