@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

#samplePanel {
  @include flex(column, space-evenly);

  * {
    // border: 1px solid red;
  }

  .spTop {
    @extend %full;
  }

  #samplePanelBorder {
    @extend %noEventsLayerAbs;
    @extend %borderActive;
    top: 0;
    border-color: $color-none;
    &.highlight {
      border-color: initial;
    }
  }

  .menu {
    @extend %full;
    padding: 0.25rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.2rem;

    .sampleBtn {
      cursor: pointer;
      position: relative;
      @include flex();
      @extend %border;
      @extend %bgSampleBtn;

      @media (hover: hover) {
        &:hover {
          border: 1px solid $white;
        }
      }

      .icon {
        position: relative;
        z-index: 2;
        height: 5vw;
        max-height: 2rem;
        width: 5vw;
        max-width: 2rem;
      }

      .border,
      .bgFlash,
      .bgSelected {
        @extend %noEventsLayerAbs;
        opacity: 0;
        transition: 400ms;
        border-radius: 0;
      }
      .bgFlash {
        @extend %bgBright;
      }
      .bgSelected {
        transition: none;
      }
    }
    .sampleBtn.flash,
    .sampleBtn.pulse {
      .border,
      .bgFlash {
        transition: none;
        opacity: 1;
      }
    }
    .sampleBtn.selected {
      .bgSelected {
        transition: none;
        opacity: 1;
      }
      .icon {
        @extend %iconFill;
      }
    }
  }

  .editMenu {
    @extend %fullAbs;
    top: 0;
    left: 0;
    z-index: 5;
    @extend %bg3q;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    @extend %borderHalf;
    border-radius: 0;

    &.dark {
      @extend %bg90;
    }

    &.flex {
      @include flex(row, space-evenly);
    }

    .close.btn {
      @extend %closeBtnSmall;
    }

    .sampleMenuBtn {
      width: 5rem;
      height: 100%;
      @include flex(column);
      display: inline-flex;
      vertical-align: top;
      background: transparent;
      border: 1px solid $color-none;
      border-radius: 0.5rem;

      &.dummy {
        min-height: 100%;
        width: 3.5rem;
        border: none !important;
      }

      @media (hover: hover) {
        &:hover {
          border: 1px solid $white;
        }
      }

      .icon {
        max-height: 4rem;
      }

      p {
        padding: 0.25rem;
        width: 100%;
        @extend %text;
      }
    }
  }
}
