@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

#samplePanel {
  * {
    // border: 1px solid red;
  }

  .detail {
    @extend %full;
    @include flex(row, space-evenly);
    padding: 0.5rem;
    overflow: hidden;
    @extend %bg;
    @extend %borderHalf;
    border-radius: 0;

    @media (orientation: landscape) {
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column-reverse;
      padding: 1rem;
      min-width: 100%;
      max-height: 500px;

      .dummy {
        display: none;
      }

      .icon {
        height: auto;
        &.chevron-down {
          max-height: 2rem;
          max-width: 2rem;
        }
      }
    }

    .icon {
      max-width: 5rem;
    }

    &.col {
      flex-direction: column;
    }

    .btn {
      @extend %btn;
    }

    .close.btn {
      @extend %closeBtnSmall;
    }
    .dummy {
      @extend %dummySmall;
    }

    .middle {
      @extend %full;
      max-width: 50%;
      @include flex(column, space-evenly);
      text-align: center;
      white-space: initial;

      @media (orientation: landscape) {
        max-width: 100%;
      }
    }
  }

  .icon.slicing {
    animation: slicing 2000ms infinite linear;
  }

  // PitchVelocityLength
  .modWrapper {
    @extend %full;
    @include flex(column, space-evenly);
    @media (orientation: landscape) {
      max-height: 70%;
    }

    #modSlider {
      width: 50%;
    }

    .selectLabel {
      height: 100%;
      @include flex;
    }

    .customSelectWrapper {
      width: 50%;
      height: 100%;
      @include flex;
    }

    .modValueWrapper {
      @extend %full;
      @include flex;
    }

    .modLabel {
      display: inline-block;
      text-align: right;
    }

    .mod-value {
      min-width: 20%;
      display: inline-block;
      text-align: center;
    }

    input[type='range'] {
      height: 100%;
      width: 50%;
    }
  }

  .modBtns {
    @extend %full;
    @include flex(row, space-evenly);

    .btn {
      @extend %btn;

      &.bgGreen {
        color: $black;
        background: $green;
      }
    }
  }
}
