@use 'styles/mixins' as *;
@use 'styles/colors' as *;

.sample-panel {
  .detail {
    @include full();
    @include flex(row, space-evenly);
    padding: 0.5rem;
    overflow: hidden;
    background: $black-90;

    .icon {
      max-width: 5rem;
      fill: $white;
    }

    &.col {
      flex-direction: column;
    }

    .btn {
      @include btn;
    }

    .close.btn {
      @include closeBtnSmall;
    }
    .dummy {
      @include dummySmall;
    }

    .middle {
      @include full;
      max-width: 50%;
      @include flex(column, space-evenly);
      color: $white;
      text-align: center;
      white-space: initial;
    }
  }

  .icon.slicing {
    animation: slicing 2000ms infinite linear;
  }

  // PitchVelocityLength
  .mod-wrapper {
    @include full;
    @include flex(column, space-evenly);
    color: $white;

    #mod-slider {
      width: 50%;
    }

    .select-label {
      height: 100%;
      @include flex;
    }

    .custom-select-wrapper {
      width: 50%;
      height: 100%;
      @include flex;
    }

    .mod-value-wrapper {
      @include full;
      @include flex();
    }

    .mod-label {
      display: inline-block;
      text-align: right;
    }

    .mod-value {
      min-width: 20%;
      display: inline-block;
      text-align: center;
    }
  }

  .mod-btns {
    @include full;
    @include flex(row, space-evenly);

    .btn {
      @include btn();
    }
  }
}
