@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

#samplePanel {
  .menu {
    @extend %full;
    padding: 0.25rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.2rem;

    .sampleBtn {
      cursor: pointer;
      position: relative;
      @include flex();
      @extend %border;
      @extend %bgSampleBtn;

      .icon {
        height: 5vw;
        max-height: 2rem;
        width: 5vw;
        max-width: 2rem;
      }

      .border {
        @extend %noEventsLayerAbs;
        opacity: 0;
        transition: 500ms;
        border-radius: 0;
      }
    }
    .sampleBtn.pressed,
    .sampleBtn.pulse {
      .border {
        transition: none;
        opacity: 1;
      }
    }
  }

  .editMenu {
    position: relative;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    @extend %bg90;
    padding-left: 4rem;

    .close.btn {
      @extend %closeBtnSmall;
    }
    .dummy {
      position: absolute;
      left: 0;
      @extend %dummySmall;
    }

    .sampleMenuBtn {
      width: 5rem;
      height: 100%;
      @include flex(column);
      display: inline-flex;
      background: transparent;
      border: none;

      .icon {
        max-height: 4rem;
      }

      p {
        width: 100%;
        @extend %text;
      }
    }
  }
}

.spAlertWrapper {
  pointer-events: none;
  position: absolute;
  top: -3rem;
  margin: 0 auto;
  width: 100%;

  .spAlert {
    position: fixed;
    width: 100%;
    height: 3rem;
    @include flex(row, space-evenly);
    @extend %bg90;
    transform: translateX(-0.25rem);
    opacity: 0;
    transition: 1500ms;

    .alert {
      text-align: center;
    }

    .icon {
      width: auto;
    }

    .dummy {
      width: 2rem;
    }
  }

  .spAlert.fadeOut2 {
    opacity: 1;
  }

  .spAlert.fadeOut {
    opacity: 1;
    transition: none;
  }

  .spAlert .icon {
    height: 1.5rem;
    transform: translateY(0);
    animation: none;
  }

  .spAlert.fadeOut2 .icon {
    animation: bounce 1s linear infinite;
  }
  .spAlert.fadeOut2 .icon.up {
    animation: bounceUp 1s linear infinite;
  }
}
