@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

.menuItems {
  position: relative;
  @extend %full;
  scroll-snap-align: start;
  @include flex(row, center);
  display: inline-flex;
  vertical-align: top;
  overflow: visible;

  @media (min-width: 768px) {
    flex-shrink: 1;
    justify-content: space-evenly;

    &.transport {
      flex-shrink: 1.25;
    }
  }

  .dummy {
    width: 2rem;
    text-align: center;
    font-style: initial;
    // border: 1px solid red;
  }

  .menuBtn {
    @extend %btn;
    @include flex(column);
    margin: 0 0.5rem;
    height: 100%;
    background: transparent;
    border: none;

    @media (orientation: landscape) {
      flex-direction: row;
    }

    &.active {
      label {
        color: $green;
      }
      .icon {
        fill: $green;
      }
      &.tap {
        border: 1px solid $green;
        animation: flashing 400ms alternate infinite;
      }
    }

    label {
      letter-spacing: initial;
    }
  }

  .icon {
    max-width: 2rem;
    min-width: 1rem;
  }
}

.transportWrapper {
  width: 100%;
  @include flex;

  .btn {
    max-width: 4rem;
    min-width: 2rem;
    max-height: 2rem;
    min-height: 1rem;
    margin: 0 0.25rem;

    .icon {
      height: 1rem;
    }

    &#stop {
      @extend %bgStopBtn;
    }
    &#start {
      @extend %bgStartBtn;
      &.flashing {
        animation: dim-flashing 300ms alternate infinite;
      }
    }
  }

  .inputWrapper {
    margin-left: 0.25rem;
    width: 7rem;
    @include flex;

    .input {
      @extend %input;
      max-width: 4rem;
      min-width: 2rem;
      max-height: 2rem;
      min-height: 1rem;
      padding: 0.25rem;
      overflow: hidden;
      text-align: center;
      font-size: 1.25rem;

      &.edited {
        animation: flashing 300ms alternate infinite;
      }
    }

    .bpmOrBtn {
      width: 3rem;
      @include flex;

      label {
        display: inline-block;
        width: 100%;
        font-style: normal;
        padding: 0.5rem;
      }

      .btn {
        background: none;
        @extend %borderWhite;
        border-radius: 0.5rem;
        outline: none;

        .icon {
          fill: $green;
        }
      }
    }
  }
}

#themesPortal {
  pointer-events: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  bottom: 10%;
}

.themes {
  pointer-events: initial;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 250px;
  @include flex(column);
  @extend %bgMenuBar;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 150ms;

  &.show {
    opacity: 1;
    transform: scaleY(1);
  }

  .themeBtn {
    @extend %btn;
    @extend %bgMenuBar;
    border: none;
    border-radius: 0;
    margin-bottom: 0.5rem;
    width: 100%;

    &.active {
      @extend %borderActive;
      @extend %bgBtnFull;
    }
  }
}
