@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;
@use 'styles/colors' as *;

#menuBar {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  max-width: 800px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  @extend %bgMenuBar;
}

.scrollbar {
  pointer-events: none;
  position: fixed;
  height: 10%;
  width: 100%;
  max-width: 800px;
  bottom: 0;

  .scrollRight,
  .scrollLeft {
    pointer-events: initial;
    position: absolute;
    height: 100%;
    width: 2rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 150ms;
  }

  .scrollLeft {
    left: 0;
  }
  .scrollRight {
    right: 0;
  }

  button.scrollRight:disabled,
  button.scrollLeft:disabled {
    pointer-events: none;
    opacity: 0;
  }
}
