@use 'styles/mixins' as *;
@use 'styles/placeholders' as *;
@use 'styles/colors' as *;

.load-kit {
  @extend %fullAbs;
  background: $black-90;

  .kits {
    @extend %full;
    @include grid(3, 3, 0.2);
    padding: 0.25rem;

    .btn {
      cursor: pointer;
      padding: 0.5rem;
      @extend %full;
      @include flex(column);
      @extend %borderDefault;
      color: $white;
      background: none;
      font-size: 1rem;
      transform: scale(1);

      &:disabled {
        opacity: 1;
      }

      &.selected {
        border: 2px solid $white;
      }

      &.pressed {
        transform: scale(0.9);
      }

      &.dim-border {
        @extend %borderDefaultHalf;
      }

      .icon {
        fill: $white;
      }

      p,
      .dummy,
      .icon {
        height: 100%;
      }

      p {
        @include flex;

        &.selected,
        &.ready {
          font-size: 0.8rem;
          font-weight: normal;
        }

        &.ready {
          opacity: 0;
          transition: 1500ms;
          color: $green;

          &.show {
            @extend %turnOn;
          }
        }
      }

      p.flashing,
      .icon.flashing {
        animation: flashing 400ms alternate infinite;
      }
    }
  }
}

.kit-info {
  @extend %fullAbs;
  z-index: 6;
  @include flex(column, space-evenly);
  top: 0;
  padding: 0.5rem;
  background: $black-90;

  .btn.close {
    @extend %btn;
    width: 60%;
    height: 2.5rem;
  }
}
